// app/user.scss

@import 'colors';

.user {
    color: $primary-color;
    font-family: sans-serif;
}
body {
	background-color:$bg-color;
}

.test-link { 

	a {
		text-decoration: none;
		font-family:sans-serif;
		&:hover {
			color: $hover;
		}
	}
	
}